extends layouts/layout
include mixins/videoPlayer

block content
    .videoDetail
        +videoPlayer({
            fileUrl: video.fileUrl
        })
        .video-content
            h4.video__title Title -  #{video.title}
            h6.video__description Description -  #{video.description}
            if video.views === 1
                h6.video__views 1 view
            else
                h6.video__views #{video.views} views
        if loggedUser && video.creator._id.toString() === loggedUser.id
            .edit-video__btn
                a(href=routes.videoEdit(video.id)) Edit Video ✍️
        if video.comments.length === 1
            span.video__comment-number
                    span#jsCommentNumber 1
                    |  comment
        else
            span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                    |  comments
        form.add__comment#jsAddComment
            input(type="text", name="comment",placeholder="Add a comment")
        ul.video__comments-list#jsCommentList
            each comment in video.comments.reverse()
                li 
                    span=comment.text 