mixin videoBlock(video={})
    .video-container
        a(href=routes.videoDetail(video.id))
            video.video__thumbnail(src=video.fileUrl, controls=false)
            h4.video__title=video.title
            if video.views === 1
                h6.video__views 1 view
            else
                h6.video__views #{video.views} views  